@import "tailwindcss";

body {
  background-color: #F0FDF4;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for cleaner UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
